{%extends 'blog/base.html'%}{%load crispy_forms_tags%} {%block content%}
<div class="content-section">
  <form action="" method="post">
    {%csrf_token%}
    <article class="media content-section">
      <div class="media-body">
        <img
          class="rounded-circle article-img"
          src="{{post.author.profile.image.url}}"
          alt=""
        />
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
      <br />
    </article>
    <div class="form-group">
      <button class="btn btn-outline-danger" type="submit">
        Confirm Delete
      </button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted"><a href="{%url 'blog-home'%}">Go Back</a></small>
  </div>
</div>
{%endblock%}
