{%extends 'blog/base.html'%} {%block title %}Blog.......... Page{%endblock%}
{%block content%}
<article class="media content-section">
  <div class="media-body">
    <img
      class="rounded-circle article-img"
      src="{{post.author.profile.image.url}}"
      alt=""
    />
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
    {%if post.author == user%}
    <div>
      <a href="{%url 'blog-update' post.pk%}">
        <button class="btn btn-outline-info">Update Post</button></a
      >
      <a href="{%url 'blog-delete' post.pk%}">
        <button class="my-1 btn btn-outline-danger">Delete Post</button></a
      >
    </div>
    {%endif%}
  </div>

  <br />
</article>
{%endblock%}
